page-confirmation {

}

.custom{
    text-align: center;
    color: green;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: bolder;
}
.custom1{
    text-align: center;
    color: black;
    font-size: 20px
}
.custom2{
    text-align: center;
    //color: black;
    font-size: 14px
}
.custombutton{
    background-color: white;
    
}

