<ion-header>

  <ion-navbar  color="flow">
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-item-divider color="light">
        <ion-icon item-right name="person" item-left></ion-icon>
        Personal Details
      </ion-item-divider>
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.billing_address.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.billing_address.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input readonly type="email" [(ngModel)]="newOrder.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input readonly type="text" [(ngModel)]="newOrder.username"></ion-input>
      </ion-item>

      <ion-item-divider color="light">
        <ion-icon item-right name="calculator" item-left></ion-icon>
          Billing Details</ion-item-divider>

      <ion-item>
        <ion-label>Address Line 1</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.billing_address.address_1"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Address Line 2</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.billing_address.address_2"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="newOrder.billing_address.country">
          <ion-option value="India" selected="true">India</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>State</ion-label>
        <ion-select [(ngModel)]="newOrder.billing_address.state">
          <ion-option value="New Delhi" selected="true">New Delhi</ion-option>
                <ion-option value="Andhra Pradesh">Andhra Pradesh</ion-option>
                <ion-option value="Arunachal Pradesh">Arunachal Pradesh</ion-option>
                <ion-option value="Assam">Assam</ion-option>
                <ion-option value="Bihar">Bihar</ion-option>
                <ion-option value="Chhattisgarh">Chhattisgarh</ion-option>
                <ion-option value="Goa">Goa</ion-option>
                <ion-option value="Gujarat">Gujarat</ion-option>
                <ion-option value="Haryana">Haryana</ion-option>
                <ion-option value="Himachal Pradesh">Himachal Pradesh</ion-option>
                <ion-option value="Jammu & Kashmir">Jammu & Kashmir</ion-option>
                <ion-option value="Jharkhand">Jharkhand</ion-option>
                <ion-option value="Karnataka">Karnataka</ion-option>
                <ion-option value="Kerala">Kerala</ion-option>
                <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>
                <ion-option value="Maharashtra">Maharashtra</ion-option>
                <ion-option value="Manipur">Manipur</ion-option>
                <ion-option value="Meghalaya">Meghalaya</ion-option>
                <ion-option value="Mizoram">Mizoram</ion-option>
                <ion-option value="Nagaland">Nagaland</ion-option>
                <ion-option value="Odisha">Odisha</ion-option>
                <ion-option value="Punjab">Punjab</ion-option>
                <ion-option value="Rajasthan">Rajasthan</ion-option>
                <ion-option value="Sikkim">Sikkim</ion-option>
                <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
                <ion-option value="Telangana">Telangana</ion-option>
                <ion-option value="Tripura">Tripura</ion-option>
                <ion-option value="Uttarakhand">Uttarakhand</ion-option>
                <ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
                <ion-option value="West Bengal">West Bengal</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.billing_address.city"></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label>Postal Code</ion-label>
        <ion-input type="number" clearInput [(ngModel)]="newOrder.billing_address.postcode"></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="tel" clearInput [(ngModel)]="newOrder.billing_address.phone"></ion-input>        
      </ion-item>

      <ion-item>
        <ion-label>Same Shipping Details</ion-label>
        <ion-checkbox (ionChange)="setBillingToShipping()"></ion-checkbox>
      </ion-item>

      <ion-item-divider color="light" *ngIf="!billing_shipping_same">
          <ion-icon item-right name="home" item-left></ion-icon>
        Shipping Details</ion-item-divider>
      
      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.shipping_address.first_name"></ion-input>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.shipping_address.last_name"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Address Line 1</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.shipping_address.address_1"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Address Line 2</ion-label>
        <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.shipping_address.address_2"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="newOrder.shipping_address.country">
          <ion-option value="India" selected="true">India</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>State</ion-label>
        <ion-select [(ngModel)]="newOrder.shipping_address.state">
          <ion-option value="New Delhi">New Delhi</ion-option>
          <ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
          <ion-option value="Maharashtra">Maharashtra</ion-option>
          <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
          <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>City</ion-label>
        <ion-input type="text" [(ngModel)]="newOrder.shipping_address.city"></ion-input>        
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Postal Code</ion-label>
        <ion-input type="number" clearInput [(ngModel)]="newOrder.shipping_address.postcode"></ion-input>        
      </ion-item>

      <ion-item *ngIf="!billing_shipping_same">
        <ion-label>Phone</ion-label>
        <ion-input type="tel" clearInput [(ngModel)]="newOrder.shipping_address.phone"></ion-input>        
      </ion-item>

      

        <ion-item *ngIf="hiding">
            <ion-label>Enter Coupon</ion-label>
            <ion-input type="text" [(ngModel)]="newOrder.billing_address.coupon"></ion-input>
          </ion-item>
          <ion-item *ngIf="hiding">
              <ion-label>Enter Coupon</ion-label>
              <ion-input type="text" [(ngModel)]="newOrder.billing_address.id"></ion-input>
            </ion-item>
            <ion-item *ngIf="hiding">
                <ion-label>Enter Coupon</ion-label>
                <ion-input type="text" [(ngModel)]="newOrder.billing_address.amount"></ion-input>
              </ion-item>

    </ion-list>

</ion-content>

<ion-footer>
  <ion-row>
      <ion-col col-6>
          <button ion-button color="danger" outline block (click)="close()">Continue shopping</button>
      </ion-col>
    <ion-col col-6>
        <button ion-button block  color="danger" (click)="next()">Next</button>
    </ion-col>

  </ion-row>
  
</ion-footer>